<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Navaneeth H K/IdeaProjects/LearningSeleniumATP9X">
        <classes>
            <class name="org.ATBSelenium.ex01_SeleniumBasics.Lab01">
            </class>
        </classes>
    </test>
</suite>